/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Monoton&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Warnes&display=swap');

.jetbrains-mono-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-weight: 200;
  font-style: normal;
}

.warnes-regular {
  font-family: "Warnes", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* --base-color: black; */
  --base-color: #080616;
  --base-variant: #30364F;
  --text-color: #ff4499;
  --text-variant: #00ffd2;
  --primary-color: #0a0047;
  --secondary-color: #004687;
  --theme-btn-fill: #F3F3E0;
}

.lightmode {
  --base-color: #F3F3E0;
  --base-variant: #E1D9BC;
  /* --text-color: #2C3947; */
  --text-color: #000000;
  --text-variant: #547A95;
  --primary-color: #0a0047;
  --secondary-color: #004687;
  --theme-btn-fill: #080616;
}


body {
  margin: 0;
  /* background-color: #2B2A2A; */
  background-color: var(--base-color);
  /* website background color
  /* background-color: #4B352A; */
  /* website background color
  /* color: #FEB05D; normal text k liye */
  /* color: #F5F2F2; */
  /* color: #5A7ACD; */
  /* color: #F0F2BD; */
  /* color: #FF9F00; */
  color: var(--text-color);
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr repeat(2, 100px);
  grid-auto-rows: minmax(20px, auto);
  padding: 1rem;
  border-radius: 0px 0px 0px 0px;
  border-bottom: inset;
  /* border-style: outset; */
  /* font-family: "Kumar One", serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
}

.navbar a,
.sidebar a {
  text-decoration: none;
}

div.logout-btn {
  display: flex;
  justify-items: center;
  padding: 2px;
}

.logout-btn button {
  color: inherit;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  padding: 1rem;
  background-color: inherit;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
}

.dashboard-logo a {
  font-size: 30px;
  color: inherit;
  font-weight: 600;
  /* font-family: "Monoton", sans-serif; */
  font-family: "Warnes", cursive;
  font-style: normal;
  /* border: inset; */
  padding: 8px;
  font-size: 2.75rem;
}

.dashboard-logo a:hover,
.logout-btn button:hover {
  /* color: #FF0063; */
  background-color: var(--text-color);
  color: var(--base-color);
  border-radius: 10px 10px 10px 10px;
  transition-duration: 0.75s;
}

.dashboard-logo a:not(:hover),
.logout-btn button:not(:hover) {
  transition-duration: 0.75s;
}

#theme-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--base-variant);
  fill: var(--theme-btn-fill);
  border: none;
  padding: 0;
}

#theme-btn svg:first-child {
  display: none;
}

.lightmode #theme-btn svg:last-child {
  display: none;
  margin: auto;
}

.lightmode #theme-btn svg:first-child {
  display: block;
  margin: auto;
}

/* sidebar styling  */
.sidebar a {
  color: inherit;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1.20rem;
  /* padding: 2rem; */
}

.sidebar a:hover {
  background-color: var(--base-variant);
  color: var(--text-variant);
  transition-duration: 0.75s;
}

.sidebar a:not(hover) {
  transition-duration: 0.75s;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 200px;
  height: 100vh;
  gap: 0px;
  border-right: inset;
  position: sticky;
  top: 0;
  flex-shrink: 0;
}
