:root {
  /* --base-color: black; */
  --base-color: #080616;
  --base-variant: #30364F;
  --text-color: #ff4499;
  --text-variant: #00ffd2;
  --primary-color: #0a0047;
  --secondary-color: #004687;
  --theme-btn-fill: #F3F3E0;
}

div.home_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

div.hello_msg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

main svg {
  fill: var(--text-color);
  margin-block: auto auto;
}

#rotating_text {
  display: flex;
  justify-content: center;
  font-weight: 400;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
