:root {
  /* --base-color: black; */
  --base-color: #080616;
  --base-variant: #30364F;
  --text-color: #ff4499;
  --text-variant: #00ffd2;
  /* --primary-color: #0a0047; */
  --primary-color: #0C2B4E;
  --secondary-color: #004687;
  --theme-btn-fill: #F3F3E0;
}

.lightmode {
  --base-color: #F3F3E0;
  --base-variant: #E1D9BC;
  /* --text-color: #2C3947; */
  --text-color: #000000;
  /* --text-variant: #547A95; */
  --text-variant: #0C2B4E;
  --primary-color: #0a0047;
  --secondary-color: #004687;
  --theme-btn-fill: #080616;
}

div.blog-list-container {
  display: flex;
  flex-direction: column;
}

div.blog-section a {
  text-decoration: none;
  font-size: 2em;
  color: var(--text-color);
  margin: 0;
}

div.blog-section span {
  color: var(--text-variant);
}

div.blog-section {
  display: flex;
  flex-direction: column;
  margin-block: 2em;
  padding-left: 50px;
  padding-right: 50px;
}

div.time-n-tag-container {
  display: grid;
  grid-template-columns: 1fr 100px;
}

div.time-n-tag-container span.published-tag {
  background-color: rgb(93, 247, 2);
  color: #000000;
  margin: auto;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(93, 247, 2), -1px -1px 2px rgb(93, 247, 2), -1px 1px 2px rgb(93, 247, 2), 1px -1px 2px rgb(93, 247, 2);
}

div.time-n-tag-container span.drafted-tag {
  background-color: rgb(251, 196, 26);
  color: #000000;
  margin: auto;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(251, 196, 26), -1px -1px 2px rgb(251, 196, 26), -1px 1px 2px rgb(251, 196, 26), 1px -1px 2px rgb(251, 196, 26);
}

#posts_anchor {
  color: var(--text-variant);
}

hr {
  border: 0;
  height: 2px;
  margin: 20px 100px;
  background-color: var(--base-variant);
}
