:root {
  /* --base-color: black; */
  --base-color: #080616;
  --base-variant: #30364f;
  --text-color: #ff4499;
  --text-variant: #00ffd2;
  --primary-color: #0a0047;
  --secondary-color: #004687;
  --theme-btn-fill: #f3f3e0;
}

.lightmode {
  --base-color: #f3f3e0;
  --base-variant: #e1d9bc;
  /* --text-color: #2C3947; */
  --text-color: #000000;
  --text-variant: #547a95;
  --primary-color: #0a0047;
  --secondary-color: #004687;
  --theme-btn-fill: #080616;
}

#tag_operation_container {
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
}

#crud_btn_container button {
  border: none;
  background-color: var(--text-color);
  color: var(--base-color);
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
  margin-inline: auto;
  font-weight: bold;
}

#crud_btn_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#tag_show_container {
  display: flexbox;
  padding: 2rem;
  margin-block: 2rem;
  width: 100%;
  background-color: var(--base-variant);
  border: solid var(--text-color);
  border-radius: 5px;
}
