<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Author Dashboard</title>
        {% load static %}
        <link href="{% static "dashboard/base.css" %}" rel="stylesheet">
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body>
        <!-- nav bar for header -->
        <nav class="navbar">
            <div class="dashboard-logo">
                <a href="{% url 'dashboard_app:dashboard' %}">Lekh Archive Dashboard</a>
            </div>
            <!-- <div>theme toggle btn</div> -->
            <button id="theme-btn">
                <!-- darkmode icon -->
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24px"
                     viewBox="0 -960 960 960"
                     width="24px">
                    <path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z" />
                </svg>
                <!-- lightmode icon -->
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24px"
                     viewBox="0 -960 960 960"
                     width="24px">
                    <path d="M338.5-338.5Q280-397 280-480t58.5-141.5Q397-680 480-680t141.5 58.5Q680-563 680-480t-58.5 141.5Q563-280 480-280t-141.5-58.5ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z" />
                </svg>
            </button>
            <div class="logout-btn">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <main>
            <nav class="sidebar">
                <a id="home_anchor" href="#">Home</a>
                <a id="create_post_anchor"
                   href="{% url 'dashboard_app:dashboard_create_post' %}">Create Post</a>
                <a id="posts_anchor" href="{% url 'dashboard_app:dashboard_posts' %}">Posts</a>
                <a id="tags_anchor" href="#">Tags</a>
                <a id="stats_anschor" href="#">Stats</a>
            </nav>
            {% block main_content %}
            {% endblock main_content %}
        </main>
        <script src="{% static "dashboard/theme_btn.js" %}"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
