{% extends "public/base.html" %}
{% load static %}
{% block extra-css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock extra-css %}
{% block main-content %}
    <div class="blog-list-container">
        {% for blog in blog_list %}
            <div class="blog-section">
                <a href="{% url 'blogging_app:post' blog.slug %}">{{ blog.title }}</a>
                <span>{{ blog.description }}</span>
                <span><strong>{{ blog.publish_timestamp }}</strong></span>
            </div>
        {% endfor %}
    </div>
{% endblock main-content %}
{% block extra_js %}
    <!-- <script src="{% static "home.js" %}"></script> -->
{% endblock extra_js %}
